/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.blogPage {
    margin-left: 25vh;
    margin-right: 25vh;
    margin-top: 5vh;
    min-height: 100vh;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogInfo {
    color: rgba(242, 242, 242, .4);
    font-family: var(--font-family);
    font-size: var(--font-size-2rem);
    font-weight: var(--font-weight-normal);
    line-height: 125%;
}

.blogHeader {
    letter-spacing: .1px;
    flex: 0 auto;
    padding-right: 24px;
    font-family: var(--font-family);
    font-size: var(--font-size-xxlarge);
    font-weight: var(--font-weight-500);
    line-height: 125%;
    color: var(--text-color-dark);
    margin-top: 8px;
    margin-bottom: 9px;
}

.blogSnap {
    color: rgba(242, 242, 242, .6);
    letter-spacing: .4px;
    flex: 1;
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-300);
    line-height: 150%;
}

.blogBody {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
    /* margin: 20px; */
    /* padding: 0 20px; */
    color: rgba(242, 242, 242, .6);
    letter-spacing: .4px;
    flex: 1 1;
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-300);
    line-height: 150%;
    overflow-y: scroll;
}

.blogBody.visible {
    max-height: 100vh;
    /* Adjust based on the content height */
    /* padding: 20px; */
    /* Add padding when visible */
}

.blogSnap.hidden {
    max-height: 0;
    /* padding: 0 20px; */
    /* Maintain side padding */
}

.blog-divider {
    margin: 4vh;
    width: 60%;
    height: 1px;
    background-color: #848484;
}



.experience-head {
    display: flex;
    width: 50vh;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 10px;
}

.experience-dot {
    background-color: var(--text-color-dark);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 20px #fff;
    color: var(--text-color);
}

.experience-overline {
    color: rgba(242, 242, 242, .4);
    text-align: left;
    letter-spacing: 1.5px;
    margin-top: 1px;
    font-family: var(--font-family-alt);
    font-size: 11px;
    font-weight: var(--font-weight-500);
    line-height: 19px;
}

.exprience-bod {
    margin-top: 5vh;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10vw;
}

.grid-item {
    font-size: 40px;
}

.experience-heading {
    letter-spacing: -.1px;
    text-shadow: 0 0 20px rgba(255, 255, 255, .2), 0 -6px 15px rgba(255, 90, 0, .1), 0 5px 15px rgba(0, 87, 255, .25);
    font-family: var(--font-family-alt);
    font-size: 40px;
    font-weight: var(--font-weight-500);
    line-height: 125%;
}

.experience-heading.info-experience {
    font-family: var(--font-family-alt);
    font-weight: var(--font-weight-500);
}

.experience-block {
    grid-row-gap: 20px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

.experience-subheading {
    letter-spacing: .1px;
    flex: 0 auto;
    padding-right: 24px;
    font-family: var(--font-family-alt);
    font-size: var(--font-size-2rem);
    font-weight: var(--font-weight-500);
    line-height: 125%;
}

.experience-subheading.info {
    font-family: var(--font-family-alt);
}

.experience-body {
    color: rgba(242, 242, 242, .6);
    letter-spacing: .4px;
    flex: 1;
    font-family: var(--font-family-alt);
    font-size: 16px;
    font-weight: var(--font-weight-300);
    line-height: 150%;
}

.experience-body.info {
    letter-spacing: .4px;
}

.text-info-meta {
    color: rgba(242, 242, 242, .4);
    font-family: var(--font-family-alt);
    font-size: 16px;
    font-weight: var(--font-weight-normal);
    line-height: 125%;
}

.project-card {
    border-radius: 24px;
    padding: 16px;
    outline: 1px solid rgba(242, 242, 242, .15);
}


.project-card-description {
    margin-top: 2vh;
    color: rgba(242, 242, 242, .6);
    letter-spacing: .4px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: var(--font-weight-300);
    line-height: 150%;
}

.project-bod {
    margin-top: 16px;
}