.nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-pill-wrapper {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    padding: 16px;
}

.nav-pill {
    backdrop-filter: blur(15px);
    background-color: var(--nav-pill-background);
    border: 1px solid var(--nav-pill-border);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    height: 48px;
    padding: 0 10px;
    transition: box-shadow 1s cubic-bezier(0.23, 1, 0.32, 1), border 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 10px 25px var(--nav-pill-shadow);
    color: var(--text-color);
}

.nav-pill-multicolor {
    backdrop-filter: blur(15px);
    background: linear-gradient(to left, #eb5939, blue 99%) right;
    color: whitesmoke;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    height: 48px;
    padding: 0 10px;
    transition: box-shadow 1s cubic-bezier(0.23, 1, 0.32, 1), border 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 10px 25px var(--nav-pill-shadow);
   
}

.nav-pill:hover {
    background-color: rgba(242, 242, 242, 0.08);
    border-color: rgba(242, 242, 242, 0.2);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(242, 242, 242, 0.05));
}

.nav-pill-content {
    font-size: 85%;
    color: rgba(212, 212, 212, 1);
    font-weight: var(--font-weight-500);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.nav-pill-content:hover {
    background-color: rgba(242, 242, 242, 0.05);
    border-radius: 18px;
    width: 80px;
    height: 36px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

body.light-mode a {
    color: var(--text-color-light);
    text-decoration: none;
}

body a {
    color: var(--text-color-dark);
    text-decoration: none;
}