body {
  --text-color: #ffffff;
  background-color: #0d0d0d;
  color: var(--text-color);
  height: 100vh;
  overflow: hidden;
  position: relative;
}



@keyframes backgroundTransition {
  0% {
    background-color: #eb5939;
  }

  100% {
    background-color: #0d0d0d;
  }
}


body.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  height: 100vh;
  overflow: hidden;
}


.main-home {
  overflow: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  scroll-snap-align: start;
}

.cardContent,
.contactCard {
  font-optical-sizing: auto;
  font-style: normal;
}

.cardContent {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-xlarge);
}

.contactCard {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-medium);
  margin-top: 14px;
}

.contactCard>*:not(:first-child) {
  margin: 10px;
}

.card-para {
  font-size: 1.2rem;
  margin-top: 10vh;
  color: #eb5939
}

.card-para:hover {
  color: #b7ab98
}


.cardContent {
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  overflow: hidden;
}

.cardContent::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eb5939;
  transition: top 0.5s ease-in-out;
  z-index: -1;
}

.cardContent:hover::before {
  top: 0%;
}


.footer {
  font-size: var(--font-size-medium);
  margin-top: 10vh;
  color: #eb5939
}

.footer:hover {
  color: #b7ab98
}

@keyframes slideInFromLeft {
  from {
    opacity: 0
  }

  to {
    opacity: 1;
  }
}

.superLargeText {
  font-size: var(--font-size-superlarge);
  background: linear-gradient(to left, #eb5939, blue 99%) right;
  color: whitesmoke;
  animation: slideInFromLeft 2s;
}

.card-techStack {
  font-size: var(--font-size-medium);
  margin-top: 10vh;
}

.card-hover {
  animation: slideInFromLeft 2s;
}

